<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Всё работает!</title>
</head>
    <body>
    <h3><a href ={{ link0 }}>{{ header0 }}</a></h3>
    <h4>{{ date0 }}</h4>

    <h3><a href ={{ link1 }}>{{ header1 }}</a></h3>
    <h4>{{ date1 }}</h4>

    <h3><a href ={{ link2 }}>{{ header2 }}</a></h3>
    <h4>{{ date2 }}</h4>

    <h3><a href ={{ link3 }}>{{ header3 }}</a></h3>
    <h4>{{ date3 }}</h4>

    <h3><a href ={{ link4 }}>{{ header4 }}</a></h3>
    <h4>{{ date4 }}</h4>

    <h3><a href ={{ link5 }}>{{ header5 }}</a></h3>
    <h4>{{ date5 }}</h4>

    <h3><a href ={{ link6 }}>{{ header6}}</a></h3>
    <h4>{{ date6 }}</h4>

    <h3><a href ={{ link7 }}>{{ header7 }}</a></h3>
    <h4>{{ date7 }}</h4>

    <h3><a href ={{ link8 }}>{{ header8 }}</a></h3>
    <h4>{{ date8 }}</h4>

    <h3><a href ={{ link9 }}>{{ header9 }}</a></h3>
    <h4>{{ date9 }}</h4>


    </body>
</html>